body {
  font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lucida Grande,Lucida Sans Unicode,Tahoma,sans-serif !important;
}
.header-section {
  position:relative;
}

.header-top-part {
  background-color: #033168;
  padding: 3px;
}
.header-lower-part {
  background-color: #fff;
  padding: 6px;
}
.header-right-img {
  position: absolute;
  right: 0%;
  top: 0%;
}
.header-right-img > img {
  width: 79%;
}

.right-aline {
float: right;
}

.list-group-horizontal {
  margin-top: 3%;
}
.list-group-item {
  border: none !important;
}

.logo-img {
width: 100%;
}
.mg-top-10 {
  margin-top: 10px;
}
.mg-top-15 {
  margin-top: 15px;
}
.mg-top-20 {
  margin-top: 20px;
}
.mg-top-25 {
  margin-top: 25px;
}
.mg-top-30 {
  margin-top: 30px;
}
/* -----------------
  header
------------------*/
.list-group {
  display: flex;
  border-radius: .25rem;
  margin-top: 35px !important;
  margin-bottom: 35px !important;
  padding-left: 0;
}

.list-group-item {
  border: none !important;
}
.top-menu {
  font-size: 15px;
  color: #3c3c3c;
  line-height: 5px;
  /* display: block; */
  text-decoration: none !important;
}
.active-menu {
  color: #023169;
}
/*  
.list-group {
  display: unset;
} */

/*---------------------
rating
-----------------------*/

*{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 34px;
  padding: 0 2px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:24px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}



/*---------------------
Footer
-----------------------*/
.mr-2 {
border: 1px solid #c7c7c7;
margin-bottom: 10px;
}
.footer {
background: #2a2a2c;
padding-top: 70px;
padding-bottom: 0;
}

.footer__about {
margin-bottom: 30px;
}

.footer__about ul li {
font-size: 16px;
color: #cfe9e0;
line-height: 36px;
list-style: none;
}

.footer__about__logo {
margin-bottom: 15px;
}

.footer__about__logo a {
display: inline-block;
}

.footer__widget {
/* margin-bottom: 30px; */
overflow: hidden;
}

.footer__widget h5 {
color: #cfe9e0;
font-weight: 700;
margin-bottom: 10px;
}

.footer__widget ul {
width: 50%;
  float: left;
  margin-top: 10%;
}

.footer__widget ul li {
list-style: none;
}

.footer__widget ul li a {
color: #cfe9e0;
font-size: 14px;
line-height: 35px;
  white-space: nowrap;
}

.footer__widget p {
font-size: 14px;
color: #cfe9e0;
margin-bottom: 30px;
}

.footer__widget form {
position: relative;
margin-bottom: 30px;
}

.footer__widget form input {
width: 100%;
font-size: 16px;
padding-left: 20px;
color: #cfe9e0;
height: 46px;
border: 1px solid #ededed;
}

.footer__widget form input::placeholder {
color: #cfe9e0;
}

.footer__widget form button {
position: absolute;
right: 0;
top: 0;
padding: 0 26px;
height: 100%;
}

.footer__widget .footer__widget__social a {
display: inline-block;
height: 41px;
width: 41px;
font-size: 16px;
color: #cfe9e0;
border: 1px solid #ededed;
border-radius: 50%;
line-height: 38px;
text-align: center;
background: #ffffff;
-webkit-transition: all, 0.3s;
-moz-transition: all, 0.3s;
-ms-transition: all, 0.3s;
-o-transition: all, 0.3s;
transition: all, 0.3s;
margin-right: 10px;
}

.footer__widget .footer__widget__social a:last-child {
margin-right: 0;
}

.footer__widget .footer__widget__social a:hover {
background: #7fad39;
color: #ffffff;
border-color: #ffffff;
}

.footer__copyright {
border-top: 2px solid #555;
padding: 15px 0;
overflow: hidden;
margin-top: 20px;
}

.footer__copyright__text {
font-size: 14px;
color: #cfe9e0;
float: left;
line-height: 25px;
}

.footer__copyright__payment {
float: right;
}


.footer-store-logo {
  background-color: #2a2a2c !important;
}

.footer-store-logo > img {
  width: 100%;
}
.footer-list-div {
  margin-top: 8%;
}

.footer-heading {
  font-weight: 300;
  /* display: inline-block; */
  padding-bottom: 5px;
  position: relative;
}
.footer-heading::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 1px;
  bottom: 0;
  left: 0%;
  /* border-bottom: 1px solid #cfe9e0; */
}

.copyrights {
  margin-top: 15px;
}
.copyrights > p {
  color: #c7e1d8;
  text-align: center;
  font-size: 12px;
}

.footer-icon {
  background-color: #1e1f26 !important;
  color: #cfe9e0 !important;
}
.footer-icon > i {
  font-size: 20px;
}
.footer-icon-signin {
  background-color: #fff !important;
  color: #242424 !important;
}
.green {
  color: #4faa43 !important;
}
.footer-icon-signin > i {
  font-size: 20px;
}
.footer-submit-btn {
  font-size: 18px;
  position: absolute;
  top: 11px;
  right: 24px;
  color: #1e1f26;
  background-color: white;
  border: none;
  height: 10px;
}
.footer-form {
  margin-top: -5px !important;
}
.footer-form > form > input {
  color: black;
}



/*--------------------------------- Responsive Media Quaries -----------------------------*/

@media only screen and (min-width: 1200px) {
/* .container {
  max-width: 1170px;
} */
}

/* Medium Device = 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-right-img > img {
      width: 66%;
  }
}

/* Tablet Device = 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Wide Mobile = 480px */

@media only screen and (max-width: 767px) {

}

/* Small Device = 320px */

@media only screen and (max-width: 479px) {

}
